.card {
    margin: 1em;
    background-color: #ffffff;
    //border-radius: 3px;
    color: #56565E;
    overflow: hidden;
    //border: 1px solid #D6D6DE;
}

.card > .card-header {
    
    padding: 0.5em;
    margin-bottom: .5em;
    
    border-bottom: 1px solid #D6D6DE;
    background: linear-gradient(#fff, #fff);
    
}

.card > .card-header > h1 {
    font-size: 1.25em;
    text-transform: capitalize;
}

.card > .card-content {
    margin: 0.5em;
    position: relative;
}



.card-text > .state-unlocked,
.card-stats > .stats-down {
    color: rgb(214, 59, 59);
}

.card-text > .state-locked,
.card-stats > .stats-up {
    color: rgb(32, 167, 32);
}

.card-stats > span {
    padding-left: .25em;
}
