.nav-sidebar {
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    position: fixed;

    border-right: 1px solid #a2a2a2;
    letter-spacing: .25px;
    height: 100vh;
    background-color: #ddd;
    
    /*causes issues with min-max width in transitioning...
    transition: width .3s ease-in-out;
    */
    transition: max-width 0.3s ease;
    
}

.nav-sidebar-active {
    box-shadow: inset 5px 0 0 #5b5; /*preserves title inline*/
    background-color: #c4c4c4 !important;
}

.nav-sidebar-list > li {
    text-align: left;
    border-bottom: 1px solid #a2a2a2;
}

.nav-sidebar-list > li > a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 1em;
    text-transform: capitalize;
    user-select: none;
}

.nav-sidebar-list > li > a:hover {
    color: rgb(206, 48, 48);
}

.nav-sidebar-list > li > a > span {
    padding-right: .5em;
}

.nav-sidebar-list > li:hover {
    background-color: #bbb;
}

.nav-sidebar_title {
    text-align: center !important;
    padding: .5em;

    border-bottom: none !important;
    background-color: #333 !important;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    user-select: none;
}

/*states for hiding and displaying elements*/
.nav-hidden-true {
    width: 30%;
    min-width: 14em;
    max-width: 20em;
}

.nav-hidden-false {
    width: 0px;
}

/*desktop nav pushes instead of overlay*/
@media (min-width: 768px) {

}