.wrapper {
    display: flex;
    text-align: left;
}

.card {
    padding: 1em;
    margin: 1em;
    background-color: #f7f7f7;
    box-shadow: 5px 5px 10px #666;
    width: auto;
    display:inline-block;
}