.controls {
    display: flex;
    background-color: #505B6B;
    justify-content: space-between;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    
}

.controls > li {
    padding: 1.5em;
    text-transform: uppercase;
    color: #f2f2f2;
}

.controls > li > a {
    text-decoration: none;
    color: #f2f2f2;
    cursor: pointer;
    user-select: none;
}