.controls {
    display: flex;
    background-color: #505B6B;
    justify-content: space-between;
    
}

.controls > li {
    padding: 1.5em;
    text-transform: uppercase;
    color: #f2f2f2;
}

.controls > li > a {
    text-decoration: none;
    color: #f2f2f2;
    cursor: pointer;
    user-select: none;
}