.nav-sidebar {
    z-index: 1;
  
    left: -1px; /*0px border means you can change nav without opening*/
    overflow-x: hidden;
    position: fixed;

    letter-spacing: .25px;
    height: 100vh;
    background-color: #364151;
    
    /*causes issues with min-max width in transitioning...
    transition: width .3s ease-in-out;
    */
    transition: all 0.3s ease-in-out;

    white-space: nowrap;
    
}

.nav-sidebar-active {
    box-shadow: inset 5px 0 0 #5b5; /*preserves title inline*/
    background-color: #c4c4c4 !important;
}

.nav-sidebar-list > li {
    text-align: left;
    /*border-bottom: 1px solid #a2a2a2;*/
}

.nav-sidebar-list > li > a {
    display: block;
    color: 		#EDF2F6;
    text-decoration: none;
    padding: 1em;
    text-transform: capitalize;
    user-select: none;
}

/*redundancy/*
/*
.nav-sidebar-list > li > a:hover {
    font-weight: 700;
}
*/
.nav-sidebar-list > li > a > span {
    padding-right: .5em;
}

.nav-sidebar-list > li:hover {
    background-color: #697484;
}

.nav-sidebar_title {
    text-align: left;
    padding: .5em;
    border-bottom: none !important;
    background-color: #303B4D !important;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    user-select: none;
}

/*states for hiding and displaying elements*/
.nav-hidden-true {
    width: 60vw;
}

.nav-hidden-false {
    width: 0px;
}