/*desktop nav pushes instead of overlay*/
@media (min-width: 768px) {

    .controls {
        justify-content: flex-end;
        position: initial;
        width: auto;
    }

    .nav-sidebar {
        top: 0;
        padding-top: 0;
    }

    .nav-hidden-true {
        margin-left: 0;
    }

    .nav-hidden-true {
        width: 20em;
    }
    .nav-sidebar_title {
        text-align: center;
    }

    .wrapper-push-true {
        margin-left: 20em;
    }

    .wrapper-push-false {
        margin-left: 0;
    }

    .wrapper {
        transition: all 0.3s ease-in-out;
        padding-top: 0;
    }

    .nav-button-close {
        display: none;
    }

    .content {
        display: flex;
        text-align: left;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
    }

    .content > .smallStats {
        display: flex;
        flex-wrap: wrap;
    }

    .content > div {
        width: auto;
    }

    .content > .card-light {
        width: 100%;
    }

    .content > .card-chart {
        width: calc(50% - 2em);
    }

    /*causes weird stretching*/
    .card > .card-content > canvas {
        min-width: 100%;
        max-width: 100%;
        height: 30vh;
    }

}

/*change em size for each screen*/
@media (min-width: 1920px) {
    body {
        font-size: 16px;
    }

    .content > .card-chart {
        width: calc(33% - 1.63em);
    }
}

@media (min-width: 3840px) {
    body {
        font-size: 64px;
    }
}

@media (min-width: 7680px) {
    body {
        font-size: 128px;
    }
}