.content {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.wrapper {
    padding-top: 4em;
}

.rt-noData {
    z-index: 0 !important;
}

.content > div {
    width: 100%;
}