.content {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.wrapper {
    padding-top: 4em;
}

.rt-noData {
    z-index: 0 !important;
}

.content > div {
    width: 100%;
}

/* tutorial styles */
.card-tutorial {
    padding: 1em;
    height: calc( 100vh - 8em );
    display: flex;
    flex-flow: row wrap;
}

.card-tutorial > .tutorial-section {
    padding: 1em;
}

.card-tutorial > .section-middle {
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.card-tutorial > .card-header {
    font-size: 2.5em;
    text-align: center;
    align-self: center;
    flex: 3 100%;
    order: 0;
    padding: 0 !important;
}

.card-tutorial > .card-header > h3 {
    font-size: .5em;
    color: #999;
}

.card-tutorial > .tutorial-section {
    flex: 1;
    order: 1;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card-tutorial > .tutorial-section > .header > .title > h1 {
    font-size: 1.5em;
    font-weight: 500;
}

.card-tutorial > .tutorial-section > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-tutorial > .tutorial-section > .header > .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border-radius: 100%;
    background-color: #364151;
    height: 2em;
    width: 2em;
    border: 4px solid #172234;
    color: white;
    margin-bottom: .5em;
}

.card-tutorial > .tutorial-section > .body {
    line-height: 26px;
}