 .wrapper-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.card-login {
    max-width: 40%;
    min-width: 300px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);

    .card-header {
        h1 {
            text-transform: uppercase;
            text-align: left;
            color: rgba(0, 0, 0, 0.87);
            font-size: 2em;
        }
    }

    .card-content {
        display: flex;
        justify-content: center;
        height: 100%;
        display: flex;
        flex-direction: column;

        .login-controls { 
            display: flex;
            flex-direction: column;

            .login-form-control {
                padding-bottom: 1em;
            }
        }
    }

    .card-action {
        padding: 1em;

        p {
            padding-top: 1em;

            a {
                color: #303B4D;
                text-decoration: none;
                font-weight: 500;
            }
        }
    }
}


