.card-error {
    border-radius: 2px;
    display: flex;
    justify-content: center;
    padding: .5em;

    .card-icon {
        align-self: center;
        padding-right: .25em;
    }

    .button-close {
        align-self: center;
    }

    .card-error-text {
        display: flex;
        padding-right: .25em;

        .content {
            align-self: center;
        }

        .header {
            h1 {
                text-align: left;
                text-transform: capitalize;
            }
        }
    }
}

/*error cards*/

.status-messages {
    position: absolute;
    right: 0;
    top: 4em;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    font-size: 1em;

    li {
        padding: .5em;
    }
}


/*icons for error types*/
.info {
    color: #059;
    background-color: #BEF;
}

.card-info-icon::before {
    font-family: fontawesome;
    content: '\f05a';
}

.success {
    color: #270;
    background-color: #DFF2BF;
}
.card-success-icon::before {
    font-family: fontawesome;
    content: '\f00c';
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.card-warning-icon::before {
    font-family: fontawesome;
    content: '\f071';
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}
.card-error-icon::before {
    font-family: fontawesome;
    content: '\f06a';
}