.nav-sidebar {
    z-index: 1;
  
    left: -1px; /*0px border means you can change nav without opening*/
    overflow-x: hidden;
    position: fixed;

    letter-spacing: .25px;
    height: 100vh;
    background-color: #364151;

    padding-top: 4em;
    
    /*causes issues with min-max width in transitioning...
    transition: width .3s ease-in-out;
    */
    transition: all 0.3s ease-in-out;

    white-space: nowrap;

    .nav-sidebar-active {
        box-shadow: inset 5px 0 0 #5b5; /*preserves title inline*/
        background-color: #c4c4c4 !important;
    }

    .nav-sidebar_title {
        text-align: left;
        padding: .5em;
        border-bottom: none !important;
        background-color: #303B4D !important;
        color: #f2f2f2;
        font-weight: bold;
        font-size: 2em;
        text-transform: uppercase;
        user-select: none;
    }

    li {
        a {
            display: flex;
            padding: 1em;
            color: #EDF2F6;
            text-transform: capitalize;
            user-select: none;
            flex-wrap: column;
            text-decoration: none;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }

        .svg-inline--fa {
            text-align: left;
            width: 3em;
        }

        a:hover {
            background-color: #697484;
        }
    }


    
}

.nav-hidden-false {
    width: 0px;
}

.nav-hidden-true {
    width: 70vw;
}