/*desktop nav pushes instead of overlay*/
@media (min-width: 1048px) {

    .controls {
        justify-content: flex-end;
        position: initial;
        width: auto;
    }

    .card-chart {
        width: calc(50% - 2em) !important;
    }

    .nav-sidebar {
        top: 0;
        padding-top: 0;
    }

    .nav-hidden-true {
        margin-left: 0;
    }

    .nav-hidden-true {
        width: 20em;
    }

    .nav-sidebar_title {
        text-align: center;
    }

    .wrapper-push-true {
        margin-left: 20em;
    }

    .wrapper-push-false {
        margin-left: 0;
    }

    .wrapper {
        transition: all 0.3s ease-in-out;
        padding-top: 0;
        margin-top: 0 !important;
    }

    .nav-button-close {
        display: none;
    }

    .content {
        display: flex;
        text-align: left;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;

        .smallStats {
            display: flex;
            flex-wrap: wrap;
        }

        .card-light {
            width: 100%;
        }
    }

    .card-stats-doughnut {
        .card-content {
            height: calc( 100% - 2em );
            display: flex;
            canvas {
                align-self: center;
            }
            
        }
    }


    .top-header {
        display: flex;
    
    }

    .smallStats {
        width: 50%;

        .basic-card-container {
            width: 100%;

            .obj {
                width: 100%;
            }
        }
    }
}

@media (min-width: 1280px) {
    .card-stats-line {
        width: calc( 50% - 2em );
    }
}

/*change em size for each screen*/
@media (min-width: 1920px) {
    body {
        font-size: 16px;
    }

    .card-chart {
        width: calc(33% - 1.67em) !important;
    }
}

@media (min-width: 3840px) {
    body {
        font-size: 64px;
    }
}

@media (min-width: 7680px) {
    body {
        font-size: 128px;
    }
}